h3{
    color: blue;
}

.passwordDetails{
    display: flex;
    justify-content: center;
    align-items: center;
}

h5{
    color: red;
}

#confirmButton{
    background-color: green;
    margin-left: 600px;
    color:white;
}